{include file="public:header" title="主页" /}


<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">

        {include file="public:menu"/}

        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">

            {include file="public:nav"/}

            <div class="row J_mainContent" id="content-main">
                <iframe id="J_iframe" width="100%" height="100%" src="/admin/index/index_v1.html?v=4.0" frameborder="0"
                    data-id="index_v1.html" seamless></iframe>
            </div>
        </div>
        <!--右侧部分结束-->
    </div>

    <!-- 全局js -->
    <script src="/public/js/jquery.min.js?v=2.1.4"></script>
    <script src="/public/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/public/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/public/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/public/js/plugins/layer/layer.min.js"></script>

    <!-- 自定义js -->
    <script src="/public/js/hAdmin.js?v=4.1.0"></script>
    <script type="text/javascript" src="/public/js/index.js"></script>

    <!-- 第三方插件 -->
    <script src="/public/js/plugins/pace/pace.min.js"></script>

    <div style="text-align:center;">
        <p>来源:<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>
    </div>
</body>

</html>